body {
	background-color: #087E8B;
}

.container {
	width: 500px;
	height: 500px;
	background-color: #223746;
	top: 120px;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	border: #087E8B solid 20px;
	box-shadow: 0px 0px 30px #223746;
	position: relative;
}

.comet {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-top: 250px;
	background-color: #C0E0EA;
	position: absolute;
	animation: comet-h-movement 1s ease-in infinite;
}

.comet:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #C0E0EA;
	left: 50px;
	top: -100px;
}

.comet:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #C0E0EA;
	left: 150px;
	top: 100px;
}

.spaceship-wrapper {
	width: 380px;
	height: 380px;
	margin: 0 auto;
	animation: spaceship-rotate 3s ease-in-out infinite alternate;
}

.spaceship {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 30%;
	border-top-right-radius: 100%;
	border-top-left-radius: 30%;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 100%;
	border-top: solid 10px #FF7F7F;
	background-color: #FF5A5F;
	z-index: 100;
}

.front {
	width: 0;
	height: 0;
	position: absolute;
	top: 224px;
	left: 300px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 60px solid #E3D26F;
	z-index: 10;
}

.window {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 56%;
	left: 54%;
	background-color: #223746;
	border: #E3D26F solid 5px;
	border-radius: 50%;
	z-index: 110;
}

.window:after {
	content: "";
	position: absolute;
	height: 40px;
	width: 40px;
	margin-top: 5px;
	margin-left: 5px;
	background-color: transparent;
	border-radius: 50%;
	border-top: solid 2px #C0E0EA;
}

.wings {
	position: absolute;
	height: 60px;
	width: 70px;
	top: 38%;
	left: 32%;
	background-color: #E3D26F;
	border-top-left-radius: 20%;
	border-top-right-radius: 80%;
	border-top: solid 10px #E6F59F;
}

.wings:after {
	content: "";
	position: absolute;
	height: 60px;
	width: 70px;
	margin-top: 132px;
	background-color: #E3D26F;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 80%;
}

.engine {
	position: absolute;
	width: 10px;
	height: 80px;
	top: 54%;
	left: 28%;
	border-top-left-radius: 40%;
	border-top-right-radius: 40%;
	background-color: #E3D26F;
	z-index: 80;
}

.flames {
	width: 122px;
	height: 70px;
	position: absolute;
	top: 55%;
	left: 4%;
	z-index: 60;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	background: linear-gradient(to right, #223746, #FF5A5F);
	animation: flames-animation 0.8s ease-in infinite alternate;
}

.flames:after {
	content: "";
	width: 70px;
	height: 40px;
	position: absolute;
	margin-top: 15px;
	margin-left: 44px;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	opacity: 0.5;
	background: linear-gradient(to right, #FF5A5F, #E3D26F);
	z-index: 150;
}

@keyframes comet-h-movement {
	0% {
		margin-left: 100%;
		opacity: 1;
		transform: scale(2);
	}
	100% {
		margin-left: -20%;
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes spaceship-rotate {
	0% {
		transform: rotate(8deg);
	}
	100% {
		transform: rotate(-8deg);
	}
}

@keyframes flames-animation {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1.1);
		opacity: 0.8;
	}
}


/*
* cor1: #223746
* cor2: #087E8B
* cor3: #C0E0EA
* cor4: #FF5A5F
* cor5: #E3D26F
*/